build
.vscode
test/debug.mlir
.cache/
.ccls-cache/
out/
compile_commands.json
.clangd

*.egg-info
playground/*.o
playground/*.s
playground/*.ll
playground/*.out
playground/lowered.mlir
build_dfg1.sh

